<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dragon_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{52,97}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{52,97}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{52,95}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{52,95}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{52,95}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{52,95}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,56},{60,93}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{60,93}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{56,89}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{56,89}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,263},{52,87}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{52,87}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,269},{52,85}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{52,85}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,209},{52,87}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{52,87}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{52,95}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{52,95}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,97}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{52,97}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,197},{70,87}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{70,87}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,56},{70,93}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{70,93}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,56},{70,93}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{70,93}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,129},{72,91}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{72,91}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,353},{74,85}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{74,85}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,317},{74,85}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{74,85}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,354},{74,83}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{74,83}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,269},{74,85}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{74,85}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{72,87}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{72,87}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,203},{72,87}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{72,87}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{94,73}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{94,73}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,118},{92,77}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{92,77}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,128},{88,79}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,79}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,274},{86,77}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{86,77}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,277},{86,75}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{86,75}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{86,73}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{86,73}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,201},{88,71}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{88,71}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{90,69}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{90,69}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{92,71}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{92,71}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,56},{94,71}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{94,71}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,401},{74,81}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{74,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,439},{74,79}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{74,79}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{74,81}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{74,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,483},{72,81}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,477},{72,79}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{72,79}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,557},{74,77}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{74,77}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{72,73}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{72,73}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,520},{70,73}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{70,73}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,592},{70,77}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{70,77}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,447},{72,81}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{72,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,430},{52,83}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{52,83}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,429},{52,83}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{52,83}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,345},{54,83}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{54,83}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{60,83}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{60,83}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,356},{58,81}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{58,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{52,81}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{52,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,538},{52,81}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{52,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,521},{52,79}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{52,79}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,484},{52,81}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{52,81}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
            <key>monster_dragon_run_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,393},{52,83}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{52,83}}</string>
                <key>sourceSize</key>
                <string>{110,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elite.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb0e3c9f1b91272ad15dc23773b0a558:1/1$</string>
            <key>textureFileName</key>
            <string>elite.png</string>
        </dict>
    </dict>
</plist>
